title = AS 65535 Looking Glass
noc_email = noc@example.com
noc_phone = 1-900-649-2568
operator = Example dot Com


# for most web servers cache_dir must be writable by uid nobody
tmp_dir = /var/tmp/lg
tmp_scriptname = as65535lg

debug = 0
Clogin_opts = -f /usr/local/etc/lookingglass.cloginrc
Timeoutcmd = /usr/bin/timeout 60s

# json
lg_hosts = /usr/local/etc/lg_hosts.json

#==================================================================
#    define the queries that can be run, per device class.
#
#       0 means it MUST NOT take an argument
#       1 means it can optionally take an arguement
#       2 means it MUST take an argument
#
#==================================================================
lg_commands = /usr/local/etc/lg_commands.json
