title = AS 3128 Looking Glass
noc_email = noc@uwsys.net
noc_phone = 608-263-4188
operator = UW Network Services


# for most web servers cache_dir must be writable by uid nobody
tmp_dir = /tmp
tmp_scriptname = as3128lg

debug = 0
Clogin_opts = -f /usr/local/ns/etc/lookingglass.cloginrc
Timeoutcmd = /usr/local/ns/bin/timeoutcmd -60

# json
lg_hosts = /usr/local/ns/etc/lg_hosts.json

#==================================================================
#    define the queries that can be run, per device class.
#
#       0 means it MUST NOT take an argument
#       1 means it can optionally take an arguement
#       2 means it MUST take an argument
#
#==================================================================
lg_commands = /usr/local/ns/etc/lg_commands.json
